@using System.Security.Claims

@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<AuthorizeView><!-- Roles="Admin" -->
    <Authorized>
        The user (@context.User.FindFirst(ClaimTypes.Name).Value) is authorized.
    </Authorized>
    <NotAuthorized>
        <h4>The user is not authorized.</h4>
    </NotAuthorized>
</AuthorizeView>

<p role="status">Current count: @AppState.CurrentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [CascadingParameter] public AppState AppState { get; set; } = NotNullHelper.CascadingParam<AppState>();

    private void IncrementCount()
    {
        AppState.CurrentCount++;
    }
}
