@page "/shopping"

<PageTitle>Shopping</PageTitle>

<ShoppingState>
	<div class="row">
		<div class="col-sm-4">
			<ShoppingLists></ShoppingLists>
		</div>
		<div class="col-sm-8">
			<ShoppingItems></ShoppingItems>
		</div>
	</div>
</ShoppingState>